.namesOfAllah {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 10px;
}

.names {
    border: 1px solid #C4DAD2;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: auto;
}

@media screen and (max-width: 900px) {
    .namesOfAllah {
        grid-template-columns: repeat(3, 1fr);
    }

}