html,
body {
    margin: 0;
    background-color: #16423C;
    justify-content: center;
    align-items: center;
    color: #C4DAD2;
}

.header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 100%;
    height: 50px;
}

.headerTexts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
    color: #C4DAD2;

}

.headerTexts li {
    cursor: pointer;
}



.sides {
    margin-top: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.leftSide {
    font-size: 40px;
}

.currentTime {
    font-size: 50px;
}

.nextTime {
    margin: 0;
    padding: 0;
}

.nextTime span {
    font-size: 65px;
}

.select {
    border: none;
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    color: #C4DAD2;
}

select option {
    color: black;
}

.prayer h3 {
    font-size: 30px;
    box-shadow: #C4DAD2 0px 1.95px 0px;
}

.counter {
    border-radius: 15px;
    border: #C4DAD2 solid 1px;

}

.date {
    font-size: 30px;
    color: #C4DAD2;
    font-weight: 600;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 500px;
}


@media screen and (max-width: 900px) {
    .main {
        flex-direction: column;
    }

    .sides {
        flex-direction: column;
        align-items: center;
    }

    .leftSide,
    .prayer {
        width: 100%;
    }

    .nextTime span {
        font-size: 40px;
    }
}